mixin video(video)
  article.video(data-id=video._id)
    img(src=`${video.thumbUrl}`, alt="thumbnail" crossorigin)
    ul
      li #{video.title}
      li Views: #{video.meta.views}
      //- li #{video.createdAt}
      //- li description: #{video.description}
      //- each hashtag in video.hashtags
      //-     li #{hashtag}
      //- li rating: #{video.meta.rating}/5

  //- script(src="../../../assets/js/home.js")