mixin video(video)
    div
        h1=video.title
        img(src=`${video.thumbUrl}`, alt="thumbnail")
        ul
            li description: #{video.description}
            each hashtag in video.hashtags
                li #{hashtag}
            li rating: #{video.meta.rating}/5
            li views: #{video.meta.views}
            li createdAt: #{video.createdAt}