extends templates/layout

block content
  h1 Editing #{movie.title}
  form(action=`/${movie.id}/edit`,method="post")
    input(type="text", value=movie.title, name="title", placeholder="Title", required, minlength="3")
    input(type="number", name="year", value=movie.year, placeholder="Year", required, )
    input(type="float", name="rating", value=movie.rating, placeholder="Rating", required, )
    textarea(name="synopsis", placeholder="Synopsis", required)=movie.synopsis
    input(type="text", name="genres", placeholder="Genres", required, value=movie.genres.join(",") )
    input(type="submit", value="Submit")
  a(href=`/${movie.id}/delete`) Delete Movie