extends layouts/layout

block content
    ul
        li Title: #{movie.title}
        li Summary: #{movie.summary}
        li Year: #{movie.year}
        li Rating: #{movie.rating }
        li Runtime: #{movie.runtime}

