extends base.pug

block content
    div#videoContainer
        video#video(src=`/${video.fileUrl}`)
        div#videoControls
            button#playBtn Play
            button#muteBtn Mute
            div
                span#currentTime 00:00
                span  /
                span#totalTime 00:00
            input#volumeRange(type="range",step="0.1", value=0.5, min="0", max="1")
            div
                input#timeline(type="range", step="1", value="0", min="0")
            div
                button#fullScreenBtn Enter Full Screen

    //- h1 Watching now: #{video.title}
    //- h3 #{video.meta.views} #{video.meta.views === 1 ? "view" : "views"}

    //- small Uploaded by
    //-     a(href=`/users/${video.owner._id}`)=video.owner.name
    //- br
    //- if String(loggedInUser._id) === String(video.owner._id)
    //-     a(href=`${video.id}/edit`) Edit Video &rarr;

block scripts
    script(src="/assets/js/videoPlayer.js")