extends base.pug

block content
    video(src=`/${video.fileUrl}`, controls)
    h1 Watching now: #{video.title}
    h3 #{video.meta.views} #{video.meta.views === 1 ? "view" : "views"}

    small Uploaded by
        a(href=`/users/${video.owner._id}`)=video.owner.name
    br
    if String(loggedInUser._id) === String(video.owner._id)
        a(href=`${video.id}/edit`) Edit Video &rarr;
