extends base.pug

block content
    div#videoContainer.video__container(data-id=video._id)
        video#video(src=`/${video.fileUrl}` crossorigin)
        div#videoControls.video__controls
            button#playBtn Play
            button#muteBtn Mute
            div
                span#currentTime 00:00
                span  /
                span#totalTime 00:00
            input#volumeRange(type="range",step="0.1", value=0.5, min="0", max="1")
            div
                input#timeline(type="range", step="1", value="0", min="0")
            div
                button#fullScreenBtn Enter Full Screen

    div
        p=video.title
        small Uploaded by
            a(href=`/users/${video.owner._id}`)=video.owner.name
        small=new Date(video.createdAt).toLocaleDateString("ko-kr", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})

        if String(video.owner._id) === String(loggedInUser._id)
            a(href=`${video.id}/edit`) Edit Video &rarr;
            br
            a(href=`${video.id}/delete`) Delete Video &rarr;

    if loggedIn
        div.video__comments
            form.video__comment-form#commentForm
                textarea(cols="30", rows="10", placeholder="Write a nice commment...")
                button Add Comment

    div.video__comments
        ul
            each comment in video.comments.reverse()
                li.video__comment(data-id=comment.id)
                    i.fas.fa-comment
                    span  #{comment.text}
                    span ❌

block scripts
    script(src="/assets/js/videoPlayer.js")
    if loggedIn
        script(src="/assets/js/commentSection.js")